arviz>=0.17.0
deepmerge==2.0
h5py==3.11.0
Jinja2==3.1.4
numpy>=1.26.0
matplotlib>=3.9.0
mpl-scatter-density>=0.5
numba>=0.50.0
pandas>=2.0.0
PyYAML>=6.0.2
scikit-learn>=1.4.0
scipy>=1.10.0
tensorflow[and-cuda]>=2.0.0
tqdm>=4.0.0
uproot>=5.3.0
mplhep
# Documentation generation
sphinx
sphinx_rtd_theme
sphinx-autoapi
ghp-import
